.MuiTableCell-root{
    border: 1px solid rgba(224, 224, 224, 1) !important;
    text-align: center !important;
    height: 30px;
    width: 30px;
}

.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input{
    border: none;
    // padding: 20px;
    width: 100px;
}

.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 0 !important;
    text-align: center;
}

.MuiOutlinedInput-notchedOutline{
    // border-radius: 50% !important;
    // width: 100px;
    border: none !important;
}

.css-1xp5r68-MuiFormControl-root-MuiTextField-root{
    width: 100px;
}