name: Deploy frontend
on:
  push:
    branches:
      -  main


jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      - run: docker build -t adiboi/sudoku -f Dockerfile.dev .
      - run: docker run -e CI=true adiboi/sudoku npm test

      - name: Generate deployment package
        run: zip -r deploy.zip . -x '*.git*'