name: Run Tests
on: push

jobs:
  test:

  runs-on: macos-latest


  steps:
    - uses: actions/checkout@v2
    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18'
    
    - name: Install dependencies
      run:  npm install
    - name: Run Tests
      run: npm test